@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 3rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5rem;
}

header {
    position: fixed;
    top: 0;
}

footer {
    position: fixed;
    bottom: 20px;
    height: 100px;
    color: white;
    text-align: center;
    padding: 2.5em 0;
}

p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.social_list {
    list-style: none;
    display: flex;
    justify-content: right;
}

.social_element {
    margin: 0 .5em;
}

.social_link {
    text-decoration: none;
    color: white;
    opacity: .7;
}
.social_link:hover {
    opacity: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
